<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div class="form">
    <div class="heading">
        <h2>Sign Up </h2>
    
    </div>
    
        <div class="innerForm">
            <form action="/gamez/SignUp/" method="post">
                <input type="text" placeholder="enter name" name="username"><br><br>
                <input type="text" placeholder="enter email" name="email"><br><br>
                <input type="password" placeholder="enter password" name="password"><br><br>
                <button>SignUp</button>
            </form>
        </div>
   </div>
</body>
</html>