<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <
   <div>
         <div class="form">
        <div class="heading">
            <h2>Sign in </h2>
       
        </div>
        
            <div class="innerForm">
                <form action="/gamez/signIn/games" method="post">
                    
                    <input type="text" placeholder="enter email" name="email"><br><br>
                    <input type="password" placeholder="enter password" name="password"><br><br>
                    <button>SignIn</button>
                </form>
            </div>
       </div>
   </div>
</body>
</html>